<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
	<header class="header">
		<div class="block_inner">
			<div class="logo">
				<a href="">
					<img src="files/logo.png" alt="">
				</a>
			</div>
			<div class="menu_header">
				<ul>
					<li><a class="anchor_link" href="#about">About us</a></li>
					<li><a class="anchor_link" href="#services">Services</a></li>
					<li><a class="anchor_link" href="#cases">Cases</a></li>
				</ul>
			</div>
			<a href="" class="btn_button">Contact us</a>
		</div>
	</header>
	<div class="top_block_wr" id="about">
		<div class="bg">
			<div class="elip elip1 pos1"></div>
			<div class="elip elip2 pos1"></div>
			<div class="elip elip3 pos1"></div>
			<div class="elip elip4 pos1"></div> 
		</div>
		<div class="block_inner">
			<div class="text">No matter the scope or complexity of your project, we have the skills and expertise to bring it to life.</div>
			<div class="btns">
				<a href="" class="btn_button"><i></i><span>Have an idea?</span></a>
				<a class="link anchor_link" href="#cases">See our cases</a>
			</div>
			<div class="body">
				<div class="desc">Backed by years of experience and a commitment to excellence, we thrive on pushing boundaries and exceeding expectations. Whether you're a startup looking to make your mark or an established business aiming to stay ahead of the curve, we're here to transform your ideas into reality.</div>
				<a href="" class="link_more">Let’s talk</a>
			</div>
		</div>
	</div>
	<div class="content_block_wr">
	