include _header.jade
	<div class="offer_block_wr" id="services">
		<div class="block_inner">
			<div class="title">What we offer</div>
			<div class="text">At CyberGC, we blend creativity with technology to deliver bespoke digital solutions tailored to your unique needs. Here's what we specialize in:</div>
			<div class="inner">
				<div class="item">
					<div class="icon">
						<img src="files/offer1.svg" alt="">
					</div>
					<div class="name">Website Development</div>
					<div class="body">From sleek corporate sites to dynamic e-commerce platforms, we craft websites that captivate audiences and drive conversions.</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/offer2.svg" alt="">
					</div>
					<div class="name">Mobile Applications</div>
					<div class="body">Transform your ideas into engaging mobile experiences with our custom iOS and Android app development services.</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/offer3.svg" alt="">
					</div>
					<div class="name">Web Applications</div>
					<div class="body">Empower your business with powerful web applications that streamline processes, enhance productivity, and deliver unparalleled user experiences.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cases_block_wr" id="cases">
		<div class="block_inner">
			<div class="title">Our cases</div>
			<div class="inner">
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj1.jpg" alt="">
					</div>
					<div class="name">TopTez</div>
					<div class="text">TopTez is a marketplace for professional equipments in different spheres</div>
				</div>
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj2.jpg" alt="">
					</div>
					<div class="name">Our Members</div>
					<div class="text">OurMembers is an application for discounts and cashbacks</div>
				</div>
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj3.jpg" alt="">
					</div>
					<div class="name">uSim</div>
					<div class="text">Easy way to buy eSim in Uzbekistan and other countries</div>
				</div>
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj1.jpg" alt="">
					</div>
					<div class="name">TopTez</div>
					<div class="text">TopTez is a marketplace for professional equipments in different spheres</div>
				</div>
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj2.jpg" alt="">
					</div>
					<div class="name">Our Members</div>
					<div class="text">OurMembers is an application for discounts and cashbacks</div>
				</div>
				<div class="item">
					<a href="" class="link">Visit</a>
					<div class="image">
						<img src="files/proj3.jpg" alt="">
					</div>
					<div class="name">uSim</div>
					<div class="text">Easy way to buy eSim in Uzbekistan and other countries</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn_block_wr">
		<div class="block_inner">
			<div class="title">If you have any idea, let’s discuss</div>
			<a href="" class="btn_button"><i></i><span>Let’s talk</span></a>
		</div>
	</div>
include _footer.jade